.bundle/
*.DS_Store
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
Gemfile.lock

.ruby-version
.ruby-gemset
vcs.log
/spec/cassettes
/spec/tmp
*.gem
/bin
/vendor
