---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/document/
    body:
      encoding: UTF-8
      string: '{"paths":["86c54d9a-3453-4b12-8dcc-49883ae8f084/document/-/format/pdf/"],"store":"0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:b616ace0f3e3b3e8bda844e3bceff181cb7291f8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"result": [{"original_source": "86c54d9a-3453-4b12-8dcc-49883ae8f084/document/-/format/pdf/",
        "token": 21201766, "uuid": "e8656549-6efd-4414-890c-708afd4f648f"}], "problems":
        {}}'
  recorded_at: Fri, 23 Jul 2021 11:37:37 GMT
recorded_with: VCR 6.0.0
