---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/convert/document/b3b32bcb-9bd8-4ee2-a4df-95bcee96b47e/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare <uploadcare_public_key>:4cf818d83c516d3bfb55f9b95aab2feeda4028af
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - fdba08c5-f0dc-4b91-a3e0-48ff0255c367
    body:
      encoding: ASCII-8BIT
      string: '{"error":null,"format":{"name":"jpg","conversion_formats":[{"name":"avif"},{"name":"bmp"},{"name":"gif"},{"name":"ico"},{"name":"pcx"},{"name":"pdf"},{"name":"png"},{"name":"ps"},{"name":"svg"},{"name":"tga"},{"name":"thumbnail"},{"name":"tiff"},{"name":"wbmp"},{"name":"webp"}]}}'
  recorded_at: Wed, 29 May 2024 14:11:12 GMT
recorded_with: VCR 6.2.0
