---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/convert/video/
    body:
      encoding: UTF-8
      string: '{"paths":["169d4bf8-206d-4fa1-8aca-a3aaa73c5cf5/video/-/size/x/change_ratio/"],"store":"0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:0ae0de735340d881dfc02d569cb3c4094f50f5b9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"result": [], "problems": {"169d4bf8-206d-4fa1-8aca-a3aaa73c5cf5/video/-/size/x/change_ratio/":
        "CDN Path error: Mandatory argument \"OneOrTwoDimensionsDivisibleByFour(size)\"
        not found while parsing \"size/x/change_ratio\""}}'
  recorded_at: Fri, 23 Jul 2021 11:26:02 GMT
recorded_with: VCR 6.0.0
