---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/convert/document/status/21201727/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:d4867270b507545071e6c2092f45006013699f2c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.6+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.6'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"status":"finished","error":null,"result":{"uuid":"19f9a316-2b03-4df3-bf97-23ee4d92db8f"}}'
  recorded_at: Fri, 23 Jul 2021 11:37:38 GMT
recorded_with: VCR 6.0.0
