---
http_interactions:
- request:
    method: delete
    uri: https://api.uploadcare.com/files/5ae54c37-754c-4982-8de4-3f242a88ce17/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:138e027d6d720bba1393f3ae8d227ac9741394bd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":"2021-07-22T07:01:53.647062Z","datetime_stored":null,"datetime_uploaded":"2021-07-22T06:51:13.085531Z","image_info":{"width":48,"height":12,"format":"PNG","color_mode":"RGBA","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":null,"original_filename":"-17.0\u00b0\u0421
        (2).png","size":514,"url":"https://api.uploadcare.com/files/5ae54c37-754c-4982-8de4-3f242a88ce17/","uuid":"5ae54c37-754c-4982-8de4-3f242a88ce17","source":null}'
  recorded_at: Thu, 22 Jul 2021 07:01:53 GMT
recorded_with: VCR 6.0.0
