---
http_interactions:
- request:
    method: delete
    uri: https://api.uploadcare.com/files/c8e24d55-a34f-4caa-afc5-30345635d026/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:dee297e8cd9ea0fb00e582560bd6deca7de1ffc8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - 9a8e0c1b-7b5c-40c0-a18d-bd03f9cb573e
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":"2022-10-03T05:58:51.271928Z","datetime_stored":null,"datetime_uploaded":"2021-09-30T15:10:23.579540Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":null,"original_filename":"thumbnail_0.jpg","size":13766,"url":"https://api.uploadcare.com/files/c8e24d55-a34f-4caa-afc5-30345635d026/","uuid":"c8e24d55-a34f-4caa-afc5-30345635d026","variations":null,"content_info":{"image":{"dpi":null,"width":1280,"format":"JPEG","height":720,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Mon, 03 Oct 2022 05:58:51 GMT
recorded_with: VCR 6.1.0
