---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:2c946903fe8c7869f6849b781c1505d00cecbd82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"previous":null,"total":6,"per_page":100,"results":[{"datetime_removed":null,"datetime_stored":"2021-07-21T10:10:15.455617Z","datetime_uploaded":"2021-07-21T10:10:15.364863Z","image_info":{"width":82,"height":19,"format":"PNG","color_mode":"RGBA","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/170.png","original_filename":"-17.0\u00b0\u0421.png","size":861,"url":"https://api.uploadcare.com/files/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/","uuid":"3542c513-5cf4-4adb-97b0-bfa7fbd31fb5","source":null},{"datetime_removed":null,"datetime_stored":"2021-07-21T10:30:47.059311Z","datetime_uploaded":"2021-07-21T10:30:46.967311Z","image_info":{"width":82,"height":19,"format":"PNG","color_mode":"RGBA","geo_location":null,"orientation":null,"dpi":[72,72],"datetime_original":null,"sequence":false},"is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/64215d18-1356-42cb-ab8c-7542290b6e1b/170.png","original_filename":"-17.0\u00b0\u0421.png","size":861,"url[...]
