---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/groups/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:c721e5ae9b652fc1cd7f28b5dd9ad22b246d6807
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"next":null,"previous":null,"total":53,"per_page":100,"results":[{"id":"d476f4c9-44a9-4670-88a5-c3cf5d26b6c2~20","datetime_created":"2021-07-16T11:03:01.182939Z","datetime_stored":null,"files_count":20,"cdn_url":"https://ucarecdn.com/d476f4c9-44a9-4670-88a5-c3cf5d26b6c2~20/","url":"https://api.uploadcare.com/groups/d476f4c9-44a9-4670-88a5-c3cf5d26b6c2~20/"},{"id":"97bd6f1e-0c97-46fa-b503-7d81efd169f1~2","datetime_created":"2021-07-16T11:04:33.200508Z","datetime_stored":null,"files_count":2,"cdn_url":"https://ucarecdn.com/97bd6f1e-0c97-46fa-b503-7d81efd169f1~2/","url":"https://api.uploadcare.com/groups/97bd6f1e-0c97-46fa-b503-7d81efd169f1~2/"},{"id":"e5df2d94-5a02-4b3b-aaf7-722ae86c2110~2","datetime_created":"2021-07-16T11:04:51.939217Z","datetime_stored":null,"files_count[...]
