---
http_interactions:
- request:
    method: put
    uri: https://api.uploadcare.com/groups/aeaeeb8d-43bc-444d-954f-a171fd872e58~2/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:95fe58bab685d987f8686ba6e56594d2339b951b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - OPTIONS, POST, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"id":"aeaeeb8d-43bc-444d-954f-a171fd872e58~2","datetime_created":"2021-07-20T06:23:51.599069Z","datetime_stored":"2021-07-22T09:18:17.488344Z","files_count":2,"cdn_url":"https://ucarecdn.com/aeaeeb8d-43bc-444d-954f-a171fd872e58~2/","url":"https://api.uploadcare.com/groups/aeaeeb8d-43bc-444d-954f-a171fd872e58~2/","files":[{"datetime_removed":null,"datetime_stored":"2021-07-22T09:18:17.362876Z","datetime_uploaded":"2021-07-20T06:23:51.609975Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"thumbnail_0.jpg","size":0,"url":"https://api.uploadcare.com/files/b2cd0665-c21c-4e2f-aa64-019f52136ca8/","uuid":"b2cd0665-c21c-4e2f-aa64-019f52136ca8","source":null,"default_effects":""},{"datetime_removed":null,"datetime_stored":"2021-07-22T09:18:17.448478Z","datetime_uploaded":"2021-07-20T06:23:51.630723Z","image_info":null,"is_image":null,"is_ready":false,"mime_type":"","original_file_url":null,"original_filename":"thumbnail_1.jpg","size":0,"url":"https://api.uploadcare.com/files/104ebe73-48e2-48cc-a8c2-1134c57129f5/","uuid":"104ebe73-48e2-48cc-a8c2-1134c57129f5","source":null,"default_effects":""}]}'
  recorded_at: Thu, 22 Jul 2021 09:18:17 GMT
recorded_with: VCR 6.0.0
