---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/groups/ef40303c-a326-44d1-b12e-4b4b92144fc0~2/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:beffedfd105048d7a60789ac9ce0c2c97b26474c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - f05822a8-85a0-407b-b7cd-b035d227ffc8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ef40303c-a326-44d1-b12e-4b4b92144fc0~2","datetime_created":"2022-10-03T05:47:38.085413Z","files_count":2,"cdn_url":"https://ucarecdn.com/ef40303c-a326-44d1-b12e-4b4b92144fc0~2/","url":"https://api.uploadcare.com/groups/ef40303c-a326-44d1-b12e-4b4b92144fc0~2/","files":[{"datetime_removed":null,"datetime_stored":"2021-10-20T08:15:18.984475Z","datetime_uploaded":"2021-10-20T08:15:18.913743Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/a69a30ef-a7c7-4eaf-9343-3447261fc9cd/sample.jpg","original_filename":"sample.jpg","size":56780,"url":"https://api.uploadcare.com/files/a69a30ef-a7c7-4eaf-9343-3447261fc9cd/","uuid":"a69a30ef-a7c7-4eaf-9343-3447261fc9cd","variations":null,"content_info":{"image":{"dpi":[72,72],"width":600,"format":"JPEG","height":320,"sequence":false,"color_mode":"RGB","orientation":1,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""},{"datetime_removed":null,"datetime_stored":"2021-10-01T08:41:14.716365Z","datetime_uploaded":"2021-10-01T08:41:02.849531Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/942e97b2-8efe-4699-bbac-70f07c37f88e/thumbnail_1.jpg","original_filename":"thumbnail_1.jpg","size":13772,"url":"https://api.uploadcare.com/files/942e97b2-8efe-4699-bbac-70f07c37f88e/","uuid":"942e97b2-8efe-4699-bbac-70f07c37f88e","variations":null,"content_info":{"image":{"dpi":null,"width":1280,"format":"JPEG","height":720,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""}]}'
  recorded_at: Mon, 03 Oct 2022 05:48:18 GMT
- request:
    method: put
    uri: https://api.uploadcare.com/files/a69a30ef-a7c7-4eaf-9343-3447261fc9cd/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:df11a47eb89f35d5fc44144b452ecfa0bd33ded0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - e0a87a87-396c-4315-b785-13c669c34a35
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2021-10-20T08:15:18.984475Z","datetime_uploaded":"2021-10-20T08:15:18.913743Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/a69a30ef-a7c7-4eaf-9343-3447261fc9cd/sample.jpg","original_filename":"sample.jpg","size":56780,"url":"https://api.uploadcare.com/files/a69a30ef-a7c7-4eaf-9343-3447261fc9cd/","uuid":"a69a30ef-a7c7-4eaf-9343-3447261fc9cd","variations":null,"content_info":{"image":{"dpi":[72,72],"width":600,"format":"JPEG","height":320,"sequence":false,"color_mode":"RGB","orientation":1,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Mon, 03 Oct 2022 05:48:18 GMT
- request:
    method: put
    uri: https://api.uploadcare.com/files/942e97b2-8efe-4699-bbac-70f07c37f88e/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:947baea576a2c712520824275c0bb92acdae1f0c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - 6ce9d9fd-4b99-4611-beb6-87b13217f464
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2021-10-01T08:41:14.716365Z","datetime_uploaded":"2021-10-01T08:41:02.849531Z","is_image":true,"is_ready":true,"mime_type":"image/jpeg","original_file_url":"https://ucarecdn.com/942e97b2-8efe-4699-bbac-70f07c37f88e/thumbnail_1.jpg","original_filename":"thumbnail_1.jpg","size":13772,"url":"https://api.uploadcare.com/files/942e97b2-8efe-4699-bbac-70f07c37f88e/","uuid":"942e97b2-8efe-4699-bbac-70f07c37f88e","variations":null,"content_info":{"image":{"dpi":null,"width":1280,"format":"JPEG","height":720,"sequence":false,"color_mode":"RGB","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Mon, 03 Oct 2022 05:48:19 GMT
recorded_with: VCR 6.1.0
