---
http_interactions:
- request:
    method: get
    uri: https://upload.uploadcare.com/group/info/?group_id=8b1362ed-b477-4a15-819a-2c6bb497d8bd~3&pub_key=demopublickey
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"8b1362ed-b477-4a15-819a-2c6bb497d8bd~3","datetime_created":"2013-04-16T14:13:42.600051Z","datetime_stored":"2015-02-03T11:23:47.824683Z","files_count":3,"cdn_url":"https://ucarecdn.com/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/","url":"https://api.uploadcare.com/groups/8b1362ed-b477-4a15-819a-2c6bb497d8bd~3/","files":[null,null,null]}'
  recorded_at: Thu, 22 Jul 2021 09:30:37 GMT
recorded_with: VCR 6.0.0
