---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/groups/6053b054-b8d4-4f57-992d-94b8f1d6ba65~2/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:9f967887320b67d4040b5670a146815937687a9e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS
      X-Uploadcare-Request-Id:
      - 4ab0a977-1047-44c3-8468-44dfec0dd624
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6053b054-b8d4-4f57-992d-94b8f1d6ba65~2","datetime_created":"2022-10-29T16:53:33.220316Z","files_count":2,"cdn_url":"https://ucarecdn.com/6053b054-b8d4-4f57-992d-94b8f1d6ba65~2/","url":"https://api.uploadcare.com/groups/6053b054-b8d4-4f57-992d-94b8f1d6ba65~2/","files":[{"datetime_removed":null,"datetime_stored":"2022-10-23T22:47:38.127212Z","datetime_uploaded":"2022-10-23T22:47:38.086167Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/272cbffa-4a27-4aba-98f1-a36e2e017e24/image.png","original_filename":"image.png","size":2766,"url":"https://api.uploadcare.com/files/272cbffa-4a27-4aba-98f1-a36e2e017e24/","uuid":"272cbffa-4a27-4aba-98f1-a36e2e017e24","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":50,"format":"PNG","height":42,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""},{"datetime_removed":null,"datetime_stored":"2022-10-23T22:15:16.698017Z","datetime_uploaded":"2022-10-23T22:15:16.642664Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/36892dd8-ccb1-4225-bc48-96a0fde93b33/image.png","original_filename":"image.png","size":2950,"url":"https://api.uploadcare.com/files/36892dd8-ccb1-4225-bc48-96a0fde93b33/","uuid":"36892dd8-ccb1-4225-bc48-96a0fde93b33","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":50,"format":"PNG","height":42,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{},"default_effects":""}]}'
  recorded_at: Sun, 30 Oct 2022 20:22:18 GMT
- request:
    method: put
    uri: https://api.uploadcare.com/files/272cbffa-4a27-4aba-98f1-a36e2e017e24/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:e33dcb2d132a8ecaa9efb4638d3e69d6557a7b92
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - 48e83852-da3f-41a9-855d-b5de85a49cf1
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2022-10-23T22:47:38.127212Z","datetime_uploaded":"2022-10-23T22:47:38.086167Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/272cbffa-4a27-4aba-98f1-a36e2e017e24/image.png","original_filename":"image.png","size":2766,"url":"https://api.uploadcare.com/files/272cbffa-4a27-4aba-98f1-a36e2e017e24/","uuid":"272cbffa-4a27-4aba-98f1-a36e2e017e24","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":50,"format":"PNG","height":42,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Sun, 30 Oct 2022 20:22:19 GMT
- request:
    method: put
    uri: https://api.uploadcare.com/files/36892dd8-ccb1-4225-bc48-96a0fde93b33/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare 5d5bb5639e3f2df33674:9a015f8f68d3018770700c47e28908cceeb7f9b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: Please use API version 0.5, not 0.7'
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
      X-Uploadcare-Request-Id:
      - 7ae2f4cf-e401-4837-928e-a0966f9824fc
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2022-10-23T22:15:16.698017Z","datetime_uploaded":"2022-10-23T22:15:16.642664Z","is_image":true,"is_ready":true,"mime_type":"image/png","original_file_url":"https://ucarecdn.com/36892dd8-ccb1-4225-bc48-96a0fde93b33/image.png","original_filename":"image.png","size":2950,"url":"https://api.uploadcare.com/files/36892dd8-ccb1-4225-bc48-96a0fde93b33/","uuid":"36892dd8-ccb1-4225-bc48-96a0fde93b33","variations":null,"content_info":{"mime":{"mime":"image/png","type":"image","subtype":"png"},"image":{"dpi":null,"width":50,"format":"PNG","height":42,"sequence":false,"color_mode":"RGBA","orientation":null,"geo_location":null,"datetime_original":null}},"metadata":{}}'
  recorded_at: Sun, 30 Oct 2022 20:22:20 GMT
recorded_with: VCR 6.1.0
