---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/project/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:3216f2c9fd76db88d056d392c5043cc1686f53a6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"collaborators":[{"name":"dmitriy.cherevatenko@uploadcare.com","email":"dmitriy.cherevatenko@uploadcare.com"},{"name":"achernenko@uploadcare.com","email":"achernenko@uploadcare.com"},{"name":"os@uploadcare.com","email":"os@uploadcare.com"}],"name":"demo","pub_key":"demopublickey","autostore_enabled":true}'
  recorded_at: Thu, 22 Jul 2021 10:00:12 GMT
recorded_with: VCR 6.0.0
