---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/webhooks/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:4b73a3f9542c892973c0a85b596da8f305409e60
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '[{"id":811133,"created":"2021-07-22T10:13:57.596063Z","updated":"2021-07-22T10:13:57.596135Z","event":"file.uploaded","target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/170.png","project":159,"is_active":true},{"id":811134,"created":"2021-07-22T10:15:44.309733Z","updated":"2021-07-22T10:15:44.309757Z","event":"file.uploaded","target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/10.png","project":159,"is_active":true}]'
  recorded_at: Thu, 22 Jul 2021 10:18:34 GMT
recorded_with: VCR 6.0.0
