---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/webhooks/811134/
    body:
      encoding: UTF-8
      string: '{"target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/11.png","is_active":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:3767a47a86fdf55c296b51b8cf94f18602fc2987
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"id":811134,"created":"2021-07-22T10:15:44.309733Z","updated":"2021-07-22T10:30:18.148061Z","event":"file.uploaded","target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/11.png","project":159,"is_active":false}'
  recorded_at: Thu, 22 Jul 2021 10:30:18 GMT
recorded_with: VCR 6.0.0
