---
http_interactions:
- request:
    method: post
    uri: https://api.uploadcare.com/webhooks/
    body:
      encoding: UTF-8
      string: '{"target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/11.png","event":"file.uploaded","is_active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare demopublickey:709d7443bac77a68415330c5786972c57f9ddb16
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.7+json
      Warning:
      - '199 Miscellaneous warning: You are using the demo project'
      Allow:
      - GET, HEAD, OPTIONS, POST
    body:
      encoding: ASCII-8BIT
      string: '{"id":811135,"created":"2021-07-22T10:18:35.149983Z","updated":"2021-07-22T10:18:35.150005Z","event":"file.uploaded","target_url":"https://ucarecdn.com/3542c513-5cf4-4adb-97b0-bfa7fbd31fb5/11.png","project":159,"is_active":true}'
  recorded_at: Thu, 22 Jul 2021 10:18:35 GMT
recorded_with: VCR 6.0.0
