<h1>Listing posts_with_collection_and_files</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts_with_collection_and_files.each do |posts_with_collection_and_file| %>
      <tr>
        <td><%= link_to 'Show', posts_with_collection_and_file %></td>
        <td><%= link_to 'Edit', edit_posts_with_collection_and_file_path(posts_with_collection_and_file) %></td>
        <td><%= link_to 'Destroy', posts_with_collection_and_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posts with collection and file', new_posts_with_collection_and_file_path %>
